@font-face {
    font-family: 'inter';
    src: url('./font/inter.regular.ttf');
}
@font-face {
    font-family: 'interlight';
    src: url('./font/inter.18pt-light.ttf');
}
@font-face {
    font-family: 'interextralight';
    src: url('./font/inter.24pt-extralight.ttf');
}
* {
    margin: 0;
    padding: 0;
}

* {
  box-sizing: border-box;
}

body {
    display: flex;
    margin: 15px;
    padding-left: 1rem;
    padding-right: 1rem;
    /*background: #9b2a70;
    background: linear-gradient(0deg, rgba(155, 42, 112, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 97, 255, 1) 100%);
  
    background: #9b2a70;
    background: linear-gradient(0deg, rgba(155, 42, 112, 1) 0%, rgba(153, 222, 182, 1) 50%, rgba(237, 97, 255, 1) 100%);
    }*/
    background: #ffffff;
    }

main {
    margin: 2rem;
    border-width: 10px;
    border-bottom: #000000;
    background-color:#ffffff;
  }

.contact_container{
    align-content: center;
    width: 50%;
    background-color: rgb(255, 255, 255);
    margin-top: 0px;
    margin-left: 2rem;
    margin-top: 5rem;
    float: left;
}

.contact_text{
        padding: 1rem;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #b9b9b9;
        border-style: solid ;
        font-size: 1rem;
        line-height: 1.1rem;
        color: rgb(53, 53, 53);
        font-family: "inter";
}

  .index-text{
        padding-top: 10rem;
        padding-right: 10rem;
        width: 70%;
        float: right;
        font-size: 1rem;
        line-height: 1.1rem;
        color: rgb(53, 53, 53);
        font-family: "inter";
  }

 /* nav */ 

.navbox{
    padding: 0;
    display:block;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #b9b9b9;
    
}

.nav{
    display: flex;
    justify-content: space-between;
    min-height: 6vh;
    font-family: 'interextralight';
    padding-bottom: 0rem;
    padding-top: 0rem;
    align-items: center;
  }

.img-me{
    width: 25%;
    background-color: rgb(255, 255, 255);
    margin-top: 0px;
    margin-left: 2rem;
    padding-top: 5rem;
    float: left;
    box-shadow: 1px 2px 4px rgba(185, 255, 255, 0);
}

.name{
    color: #6b6b6b;
    justify-content: left;
    font-size: 1.2rem;
    font-weight: 1300;
    margin-top: 0rem;
    margin-left: 2rem;
    letter-spacing: 0px;
    text-decoration:none; 
}
    .name:hover{
        background-color: rgb(19, 19, 255);
        justify-content: left;
        font-size: 1.2rem;
        font-weight: 1300;
        margin-top: 0rem;
        letter-spacing: 0px;
        text-decoration:none;
        color:rgb(255, 255, 255);
    }

 /* nav links */ 
.mainlinks{
    display: contents;
    justify-content: space-between;
    width: 80%;
    padding-top: 0rem;
}

    .mainlinks a { 
        color: #6b6b6b;
        text-align: right;
        text-decoration: none;
        font-weight: 400;
        font-size: 1.2rem;
        margin-right: 2rem; 
    }

    .mainlinks a:hover {
        
        color: rgb(255, 255, 255);
        background-color: rgb(19, 19, 255);
        text-align: right;
        text-decoration: none;
        font-weight: 400;
        font-size: 1.2rem;
        margin-right: 2rem;
        
    }

    .mainlinks li {
        list-style: none;
        justify-content:center;
        color: rgb(0, 0, 0);
        font-size: 1.5rem;
        margin-top: 0;
    }

.linksplacement {
    justify-content: space-around;
    display: flex;
}

/* works links - sub nav between work subpages*/
.works_nav {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0px;
}



    .works_nav_1, .works_nav_2,.works_nav_3,.works_nav_4,.works_nav_5,.works_nav_6,.works_nav_7,.works_nav_8{
        background-color:rgb(255, 255, 255);
        font-size: 0.7rem;
        text-align: center;
        align-content: center;
    }

    .works_nav_1 a, .works_nav_2 a,.works_nav_3 a,.works_nav_4 a,.works_nav_5 a,.works_nav_6 a,.works_nav_7 a,.works_nav_8 a {
        color: #6b6b6b;
        font-family: "inter";
        justify-content: center;
        text-decoration: none;
    }

            .works_nav_1:hover, .works_nav_2:hover,.works_nav_3:hover,.works_nav_4:hover,.works_nav_5:hover,.works_nav_6:hover,.works_nav_7:hover,.works_nav_8:hover{
            font-size: 0.7rem;
            text-align: center;
            align-content: center;
               color: #ffffff;
        }

            .works_nav_1 a:hover, .works_nav_2 a:hover,.works_nav_3 a:hover,.works_nav_4 a:hover,.works_nav_5 a:hover,.works_nav_6 a:hover,.works_nav_7 a:hover,.works_nav_8 a:hover {
                color: #ffffff;
                background-color: rgb(19, 19, 255);
                font-family: "inter";
                justify-content: center;
                text-decoration: none;
            }


/* works box */
.works_box {
    position: relative; /* Allows for absolute positioning of navigation buttons */
    overflow: hidden; /* Hides the overflow content (only one image is visible at a time) */
    padding: 1rem;
    place-items: center;
    background-color: rgb(255, 255, 255);
  }


    .works_box img {
        width: 100%; /* Image width matches the slide width */
        height: 100%; /* Image height matches the slide height */
        object-fit: cover; /* Images are scaled to cover the entire box, cropping if necessary */

    }

    .works_box p {
        font-size: 0.5rem;
        color: rgb(0, 0, 0);
        font-family: "interlight";
        text-align: center;
    }
    
.works_parent {
    display: grid;
    margin-top: 4rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 24px;
    grid-template-rows: min-content;
}

    .bivak {
        grid-row: span 2 / span 2;
        
    }

    .totem {
        grid-row: span 2 / span 2;
    }

    .kabin {
        grid-row: span 2 / span 2;
    }

    .sch {
        grid-row: span 2 / span 2;
        grid-row-start: 3;
    }

    .sorhaz {
        grid-row: span 2 / span 2;
        grid-row-start: 3;
    }

    .szek {
        grid-row: span 2 / span 2;
        grid-row-start: 3;
    }

    .fertoto {
        grid-row: span 2 / span 2;
        grid-column-start: 3;
        grid-row-start: 5;
    }

    .internship {
        grid-row: span 2 / span 2;
        grid-column-start: 2;
        grid-row-start: 5;
    }

/* individual work pages */

.work_text_img_parent{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 30px;
}

.work_text_img_parent img{
align-content: center;
}


    .title{
        max-width: 100%;
        padding-left: 0rem;
        grid-column: span 2 / span 2;
        grid-column-start: 1;
        grid-row-start: 3;
        color: rgb(53, 53, 53);
        font-size: 1rem;
        font-family: "inter";
    }

    .subtitle{
        max-width: 100%;
        padding-left: 0rem;
        grid-column: span 3 / span 3;
        grid-column-start: 1;
        grid-row-start: 3;
        color: rgb(164, 164, 164);
        font-size: 0.6rem;
        font-family: "interlight";
    }
    .text{
        padding: 1rem;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #b9b9b9;
        border-style: solid ;
        grid-column: span 2 / span 2;
        grid-row: span 3 / span 3;
        grid-column-start: 1;
        grid-row-start: 4;
        font-size: 0.8rem;
        line-height: 1.1rem;
        color: rgb(53, 53, 53);
        font-family: "inter";
    }

    .img_container_right{
    grid-column: span 3 / span 3;
    grid-row: span 6 / span 6;
    grid-column-start: 3;
    grid-row-start: 1;
}

        .img_container_right img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        }


 /*work images*/
.img_container_center{
  width: 100%;
  padding-top: 8rem;
}

    .img_container_center img{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    }
    
    .img_container_center p {
   font-family: "interextralight";
   color: #6b6b6b;
   font-size: 0.8rem;
    }

.img_container_grid {

    padding-top: 8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}

    .img_container_grid img {
    display: block;
    height: 300px;
    width: flex;
    }

    .img_container_grid p {
   font-family: "interextralight";
   color: #6b6b6b;
   font-size: 0.8rem;
    }

    .grid2 p{
        margin-left: 6rem;
    }

    .grid4 p{
        margin-left: 6rem;
    }
/*-------------------------------------------------*/

.footer{
    /*display: none;  visszaterek ra majd */
  
  position: fixed;
  font-family: 'interlight';
  font-size:0.7rem;
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgb(61, 61, 61);
  text-align: left;
  bottom: 1rem;
  left: 1rem;
}

/* contact */
.form-container{
color: #000000;
font-family: "inter";
}
input {margin-bottom: 4px;}
textarea {resize: vertical;}
button {
    width: 200px;
    margin-top: 8px;
    transition: transform ease 0.3s, background-color ease 0.3s;
    background-color: whitesmoke;
    font-size: 24px;
}
button:hover {
    background-color: yellow;
    transform: scale(1.3);
}
label {
    margin: auto;
    color: black;
}
